@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: content-box ;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}
.encabezado{
    align-items: center;
    background-color: #222222;
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%;
} 
.cuerpo{
    background-color: #e5e5e5;
    display: flex;
    height: 430px;
    justify-content: space-evenly;
}
.promo{
    background-image: url(img/delivery.png);
    background-repeat: no-repeat;
    display: flex;
    height: 350px;
    margin-top: 35px;
    width: 500px;
}
a{
    color: white;
    font-size: 16px;
    margin: 5px;
    text-decoration: none;
}
.pie{
    align-content: space-between;
    align-items: center;
    background-color: #222222;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 100%;
}
.barra{
    display: flex;
    justify-content: flex-end;
    margin-right:50px;
}
.barra2{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-left: 20px;
}
.podio{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    justify-content: space-around;
    margin-top: 35px;
    width: 500px;
}
.rojo{
    color: red;
}
.blanco{
    color: white;
    margin: 0 5px 0;
}
.texto{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin: 21px 0 0 19px;
}
h1{
    color: #fc200c;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
h2{
    bottom: 30px;
    font-size: 20px;
    position: relative;
}
.items{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.logopie{
    margin-right: 30px;
}